<!DOCTYPE html>
<html>
<head>
  <title>Staub von IkeC</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta name="author" content="IkeC">
  <link rel="stylesheet" href="style.css">
  <base target="_blank">
</head>
<body class="play">
<div class="container">
<div class="coverimage"><span><a href="index.html"><img src="Small Cover.png" border="1"></a></span></div>

<div class="links">
	<ul>
    <li><a href="Hinweise.html">Hinweise</a></li>
    <li><a href="Walkthrough.txt">Komplettlösung</a></li>
    <li><a href="Karte.png">Karte</a></li>
    <li><a href="Flowchart.png">Flowchart</a></li>
    <li><a href="download.html">Download</a></li>
    <li><a href="Staub-Transkript.pdf">Transkript</a></li>
    <li><a href="previous.html">Vorversion</a></li>
    <li><a href="https://ifdb.org/viewgame?id=qdcuacs2twn8wpr">IFDB</a></li>
    <li><a href="https://github.com/IkeC/InteractiveFiction">GitHub</a></li>
	</ul>
</div>

<div class="playinfo">
<p><a href="play.html" target="_self"><b>Staub</b></a> ist ein Textadventure, oft auch Interactive Fiction genannt. Du gibst mit der Tastatur einen Befehl ein (<i>SCHAU, GEH RUNTER, NIMM LAMPE, REDE MIT FRAU...</i>) und das Spiel antwortet dir. Eine etwas ausführliche Erklärung findest du <a href="http://www.textpaeckchen.org/hilfe.html" target="_new">hier</a>. Du kannst es umsonst online spielen - probier's einfach aus!</p>
<p><a href="play.html" style="font-size:1.5em"><b>&gt;&gt; Spiel starten &lt;&lt;</a></b></p>
<p>Das Spiel kann durch die Eingabe von <i>SPEICHERN</i> gespeichert und <i>LADEN</i> geladen werden. Der Befehl <i>INFO</i> im Spiel bietet weitere nützliche Informationen.</p>
<p>
<p>Wenn Du mal nicht weiter kommst, kannst Du Dir einige <a href="Hinweise.html">Hinweise</a> anschauen, die die Lösung nicht direkt verraten. Wenn das nicht hilft, kannst du auch in die <a href="Walkthrough.txt">Komplettlösung</a> schauen. Eine kleine <a href="Karte.png">Karte</a> gibt es auch, und das <a href="Flowchart.png">Flowchart</a> zeigt als Grafik, wie die ganzen Rätsel aufeinander aufbauen.</p>
<p>Wenn Du lieber offline spielen willst, kannst Du das Spiel natürlich auch <a href="download.html">herunterladen</a>. Wenn Dich nur die Geschichte interessiert, kannst Du das Spiel als <a href="Staub-Transkript.pdf">PDF-Transkript</a> auch einfach wie ein Buch lesen.</p>
<p><a href="play.html" target="_self"><b>Staub</b></a> hat den <a href="https://ifwizz.de/grand-prix-2024-ergebnisse.html" target="_new">Interactive Fiction Grand Prix 2024</a> gewonnen! Wenn Du Ideen, Kritik oder Verbesserungsvorschäge hast, würde ich mich über Feedback in <a href="https://bit.ly/Ikes-Discord" target="_new">meinem Discord</a>, dem <a href="https://if-forum.org/topic.php?id=1319" target="_new">Staub-Thread auf ifwizz.de</a> oder eine <a href="https://ifdb.org/viewgame?id=qdcuacs2twn8wpr">Bewertung in der IFDB</a> sehr freuen.</p>
<p>2024 &copy; IkeC</p>
</div>
</body>
</html>

